*{
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-image: url("/adv2.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  position: center;
  }

.menu{
  background-color: #b48caae6;
  position: fixed;
  top: 0;
  width: 100vw;
  margin-top: 0em;
}

a{
  text-decoration: none;
  color:black;
  font-weight: bold;
  font-family: 'Jost', sans-serif;
}

.menu ul{
  display: flex;
  justify-content: center;
  text-align: center; 
 }

.menu li{
  list-style: none;
  height: 40px;
  padding: 7.5px 10px;
  }

a:hover{
  color: rgb(20, 20, 197);
}

.site-subtitle,
.site-title{
  text-align: center;
  color: black;
  font-family: 'Niconne', cursive;
  font-size: 100px;
  font-weight: 400;
  margin-top: 230px;
  }

.site-title{
  margin-top: 250px;
  margin-bottom: 0px;
}

.site-subtitle{
  font-style: italic;
  margin-top: -10px;
  font-size: 50px;
}

.oab{
  text-align: center;
  color:black;
  font-family: 'Jost', sans-serif;
  font-size: 15px;
}

#atuacao {
  background-color: rgba(212, 108, 108, 0.8);
  margin-top: 470px;
  margin-bottom: 0px;
  padding: 10px;
  font-family: 'Jost', sans-serif;
  font-size: 25px;
  border: 1px solid black;
  width: fit-content;
  }

  #clientes {
    background-color: rgba(212, 108, 108, 0.8);
    margin-top: -186px;
    bottom: 0;
    padding: 10px;
    font-family: 'Jost', sans-serif;
    text-align: right;
    font-size: 25px;
    border: 1px solid black;
    width: 50%;
    margin-left: 50%;
    }

